a {float: right;
}
h5 > a:hover{color:#0AFF1E;}
img#publicidad1 {float:left;
		margin-top:10px;
		margin-left:30px;}
img#publicidad2 {float:right;
			margin-top:50px;
			}
img#publicidad3 {float:left;
			margin-top:100px;
			margin-left:850px;
}
a#camisa{float:right;
	margin-top: 510px;
		   color:#000000;
	   font-size:30px;
	   text-decoration:none;
}
a#busos{float:right;
			margin-top:540px; 
			color:#000000;
			font-size:30px;
			text-decoration:none;	
}
a#zapatos{float:right;
			margin-top:570px;
			color:#000000;
			font-size:30px;
			text-decoration:none;	
}

a#camisa:hover{color:#0418AB;}
a#busos:hover{color:#0418AB;}
a#zapatos:hover{color:#0418AB;}
